# macOS
.DS_Store

# CMake
/core/tests/cmake/CMakeFiles/
/core/tests/cmake/CMakeCache.txt
/core/tests/cmake/Makefile
/core/tests/cmake/cmake_install.cmake
/core/tests/cmake/unit_tests
/core/tests/cmake/.ninja_deps
/core/tests/cmake/.ninja_log
/core/tests/cmake/build.ninja

# Visual Studio
/core/tests/visual_studio/x64/
/core/tests/visual_studio/.vs/Cubzh Core Unit Tests/v17/.suo
/core/tests/visual_studio/.vs/Cubzh Core Unit Tests/v17/Browse.VC.db
/core/tests/visual_studio/.vs/Cubzh Core Unit Tests/v17/Browse.VC.db-shm
/core/tests/visual_studio/.vs/Cubzh Core Unit Tests/v17/Browse.VC.db-wal
/core/tests/visual_studio/.vs/Cubzh Core Unit Tests/v17/Browse.VC.opendb
/core/tests/visual_studio/.vs/Cubzh Core Unit Tests/FileContentIndex/
/core/tests/visual_studio/.vs/Cubzh Core Unit Tests/v17/ipch/AutoPCH/**/*.ipch

# Xcode
*.xcuserdatad

deps/xptools/windows/bundle_tar_gz.hpp

deps/bgfx/bgfx/tools/bin/
