# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Source files
# --------------------
*.lua text eol=lf

# CI
# --------------------
# Go vendor directories
ci/core_unit_tests/vendor/** filter=lfs diff=lfs merge=lfs -text
ci/format/vendor/** filter=lfs diff=lfs merge=lfs -text
ci/lua_docs_deploy_prod/vendor/** filter=lfs diff=lfs merge=lfs -text

# Lua documentation
lua/docs/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
lua/docs/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
# Lua documentation - webserver dependencies
lua/docs/webserver/vendor/** filter=lfs diff=lfs merge=lfs -text
