<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubzh | internal error</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="background"></div>
    <div class="content">
        <img class="logo" src="/img/logo.svg" alt="cubzh logo">
        <div id="container">
            <h1>Parent dashboard</h2>
            <p>ERROR 500 (internal error)</p>
        </div>
    </div>
</body>
</html>
