{{define "footer"}}
<div id="footer">
	<ul>
		<li><a href="https://cu.bzh">cu.bzh</a></li><!--
		--><li><a href="https://twitter.com/cubzh_">Follow us on Twitter</a></li><!--
		--><li><a href="https://www.instagram.com/cu.bzh/">Follow us on Instagram</a></li><!--
		--><li><a href="https://cu.bzh/discord">Join us on Discord</a></li>
	</ul>
</div>
{{end}}
