{{define "menu"}}
<div id="menu">
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/guides">Guides</a></li>
			<li><a href="/reference">Reference</a></li>
			<li><a href="/modules">Modules</a></li>
		</ul>
	</nav>
</div>
{{end}}
