{{define "sidemenu"}}
<div id="sidemenu">
	<div id="sidemenu-header">
		<a href="/"><img src="/style/img/logo-white.svg"/></a>
	</div>
	<div id="sidemenu-content">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/guides">Guides</a></li>
				<li><a href="/sample-scripts">Sample Scripts</a></li>
				<li><a href="/reference">Reference</a></li>
				<li><a href="/modules">Modules</a></li>
			</ul>
		</nav>
	</div>
</div>
{{end}}
